@layout MainLayout
@page "/reports"


<div class="row-layout reports-container">
    <div class="column-layout page-container">
        <div class="column-layout page-header">
            <div class="row-layout header-1">
                <div class="row-layout page-title-1">
                    <span class="material-icons icon">
                        bar_chart
                    </span>
                    <h5 class="h5">
                        Reports
                    </h5>
                </div>
            </div>
        </div>
        <div class="column-layout group">
            <span class="reveal-dash-board">RevealDashBoard not yet available in Blazor</span>
        </div>
    </div>
</div>

@code {
}
